.hanken-grotesk {
  font-family: 'Hanken Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.cascadia-code {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* main */
body {
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
    width: 40%;
    margin: 10px auto;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

main {
    margin: 30px auto;
}

h1, h2 {
    color: #f5c2e7;
}

h3 {
    font-family: Gentium, Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #a6adc8;
}

a {
    color:#cba6f7;
}

/* navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Cascadia Code';
}

nav ul li a {
    display: block;
    padding: 0 25px 0 0;
}

nav ul li a.active {
    text-decoration-color: #a6adc8;
    text-decoration-thickness: 2px;
}

nav ul li a:hover {
    text-decoration-color: #a6adc8;
}